@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --bg-color: #2d3436;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}


.container {
    width: 90%;
    max-width: 800px;
}


.palette {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.palette-color {
    height: 150px;
    flex: 1;
    background-color: #ccc;
    border-radius: 10px;
}



.input-group {

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;

    background-color: rgba(255, 255, 255, 0.263);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.input-group__textarea {
    resize: none;
    width: 100%;
    /* Растягиваем на всю ширину контейнера */
    height: 60px;
    /* Фиксируем высоту */

    /* Немного красоты */
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    /* Чтобы шрифт внутри был такой же красивый */
}

#input-group__btn {
    /* background-color: #6c5ce7; */
    background: linear-gradient(45deg, #6c5ce7, #a29bfe);
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

    transition: transform 0.2s;
}

.input-group .input-group__btn:active {
    transform: scale(0.95);
}